html,body{
    width: 100%;
    overflow-x: scroll;
}
.height
{
    display: flex;
    flex-direction: column ;
    margin-right: 50px;
    padding-right: 20px;
    text-wrap: wrap;
    flex-wrap: wrap;
    
  
}
.height-one{
    display: flex;
    flex-direction: row;        
    
}
.footer_flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
    margin-left: 4vw;
    background-color: rgb(245, 247, 250);
   
}
#first-footer{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
#new-font{
    font-size: 20px;
    margin-bottom: 25px;
}
#new-font-main{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 14px;
}
#first-box{
    width: 23vw;
}
.hover{
    font-size: 20px;
    margin-top: 10px;
}
.height input{
    border: 3px solid black;
}

.last{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 11vw;
    margin-right: 9vw;
   
}
#email{
    height: 50px;
    
}

.full-footer{
    background-color: rgb(245, 247, 250);
    min-width: 100%;

   

}

@media screen and (max-width: 1137px) {

    .footer_flexbox{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    #first-box{
        width: 84vw;
       
        text-wrap: wrap;
        
    }
    #first-box input{
        width: 80vw;
    }
    .height{
        margin-bottom: 40px;
    }
    .height-one{
        margin-bottom: 40px;
    }




    @media screen and (max-width: 755px) {

        .last{
            flex-direction: column;
            text-align: center;
        }
        #first-box{
            width: auto;
            padding-right: 50px;
        }
        
    }
  }