.second{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    margin: 20px;
   margin-left: 11vw;
   background-color: rgb(245, 247, 250);

}
.second-page-second-content{
    font-size: 25px;
}
.second-page-second-part{
    margin-top: 64px;
    
    margin-right:30px;
    margin-bottom: 30px;
    margin-left: 30px;
   
    
}
.second-page-first-part p{
    font-size: 40px;
    font-weight: 500;
}
.second-page-first-content{
    font-size: 20px;
}
.second-page-first-part{
    width: 380%;
    background-color: white;
  
}
.second-page-first-content div{
    margin-bottom: 20px;
}
.second-page-second-part div{
    margin-bottom: 30px;
}
.test-man{
    display: flex;
    flex-direction: row;
}
#man-image{
    margin-right: 30px;
}


@media screen and (max-width: 1200px){
    .second{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .second-page-first-part{
        width: 85vw;
    }
    .second-page-first-part img{
        width: 80vw;
    }
    #man-image{
        width: 30vw;
    }
    .second-page-first-part img{
        margin-bottom: 30px;
    }
    
}