.third{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 247, 250);
    margin-top: 80px;
    margin-bottom: 80px;
    
}
#third-page-heading{
    font-size: 40px;
    font-weight: 600;
}
.third-page-first-part div{
    margin-bottom: 20px;
    font-size: 24px;
}
.third-page-first-part{
       
        margin-left: 11vw;
        margin-top: 20px;
        margin-bottom: 20px;
}
.third-page-second-part{
    margin-right: 8vw;
    
}
#third-page-button{
    background-color: black;
    color: white;
    width: 190px;
    height: 60px;
    font-size: 20px;
}


@media screen and (max-width: 900px) {
    .third{
        flex-direction: column;
    }

}